<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if not cart_items %}

<p> Your Cart is Empty </p>

{% else %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">book name</th>
      <th scope="col">author</th>
      <th scope="col">price</th>
        <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>

  {% for item in cart_items %}

    <tr>
      <th scope="row">1</th>
      <td>{{ item.book.title }}</td>
      <td>{{ item.book.author }}</td>
      <td>{{ item.book.price }}</td>
        <td><a href="{% url 'remove_cart' item_id %}"> Remove </a></td>
    {% if item.quantity <= item.book.quantity %}

        <td><a href="{% url 'decrease_quantity' item_id %}"> - </a></td>
        <td><input type="number" name="quantity" value="{{ item.quantity }}"> Quantity </td>
        <td><a href="{% url 'increase_quantity' item_id %}"> + </a></td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

</body>
</html>